# This workflow will build a test Java + TestNG + Appium + BrowserStack project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test Run

on:
  workflow_dispatch:
    branches: [ master ]
    inputs:
      test_tag:
        description: 'Tags to run'
        required: true
        default: '@example_tag'
      bs_app_link:
        description: 'app_url of uploaded to BS link'
        required: true
        default: 'bs://8f566db51922fcbccc31e4fe980936dab47dd281'
      build_name:
        description: 'build name of given application'
        required: true
        default: 'SimplyE-Test'
      platform_name:
        description: 'Platform name'
        required: true
        default: 'android'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run tests
      run: mvn clean test -Daquality.buildName="${{github.event.inputs.build_name}}" -Daquality.token=${{secrets.TRACKING_API_TOKEN}} -Daquality.suiteName="${{github.event.inputs.test_tag}}" -Daquality.environment="${{github.event.inputs.platform_name}}" -Dcredentials.LYRASIS.${{secrets.BookCard }}=${{secrets.BookPin }} -Dcredentials.LYRASIS.${{secrets.BookCardLyrasis2 }}=${{secrets.BookPinLyrasis2 }} -Dcredentials."The New York Public Library".${{secrets.BookCardNYPL }}=${{secrets.BookPinNYPL }} -DremoteConnectionUrl=${{secrets.remoteConnectionUrl}} -DplatformName=${{github.event.inputs.platform_name}} -DdriverSettings.${{github.event.inputs.platform_name}}.capabilities.app=${{github.event.inputs.bs_app_link}} -Dcucumber.options="--tags '${{github.event.inputs.test_tag}} and not @exclude_${{github.event.inputs.platform_name}}'"
    - name: Generate Allure Report
      uses: afiore/action-allure-report@v0.1.0
      if: success() || failure()
    - name: Upload report
      uses: actions/upload-artifact@v2.1.4
      with:
        name: allure-report
        path: allure-report/
      if: success() || failure()
